.home-btn{
    text-align: center;
    margin: 5vh;
}

.game-box{
    display: flex;
    border: 10px solid #1078a9;

}

.rank-box{
    border: 10px solid #1078a9;
}

.two-box{
    display: flex;
    border: 15px solid #1078a9;
}